//====================================================================================================
.footer {
    background-color: $mainColor;
    color: #F5EFE6;

    // .footer__body

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: toRem(20);

        padding-inline: toRem(20);
        padding-block: toRem(40);

        @media (max-width: toEm(638)){
            flex-direction: column-reverse;
            gap: toRem(72);
        }
    }

    // .footer__promotion

    &__promotion {
    }

    // .footer__title

    &__title {
        font-size: toRem(14);
        &:not(:last-child) {
            margin-block-end: toRem(24);
        }
    }

    // .footer__form

    &__form {
        display: flex;
        gap: toRem(10);
    }

    // .footer__menu

    &__menu {
        display: flex;
        align-items: start;
        column-gap: toRem(55);
        row-gap: toRem(5);

        @media (max-width: toEm(638)){
            flex-direction: column;
            row-gap: toRem(24);
        }
    }

    // .footer__item

    &__item {
        position: relative;  
        padding-bottom: toRem(5);
        &::after{
            content:'';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: .125rem;
            background-color: $beige;
            transition: all .3s;
        }
        @media (any-hover: hover){
            &:hover::after {
                width: 100%;
                left: 0;
            }
        }     
    }
    // .footer__link

    &__link {
        text-align: center;
        font-size: toRem(14);
        font-weight: 700;        
    }

    // .footer__copyright

    &__copyright {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: toRem(15);
        border-top: toRem(1) solid rgba(255, 255, 255, 0.20);
        padding-inline: toRem(40);
        padding-block: toRem(20);
        @media (max-width: toEm(590)){
              justify-content: center;
        }
    }

    // .footer__privacy

    &__privacy {
        /* Body Small Tag */
        font-family: "DM Sans";
        font-size: toRem(14);
        line-height: 1.1;
    }

    // .footer__socials

    &__socials {
        display: flex;
        align-items: center;
        gap: toRem(11);
    }

    // .footer__link

    &__link {
        display: inline-block; // Щоб SVG поводився як блок
        svg {
            path {
                fill: white;
                fill-opacity: 0.5;
                transition: all 0.3s ease;
            }
        }
        @media (any-hover: hover){
            &:hover{
                svg {
                    path {
                        fill: #F5EFE6;
                        fill-opacity: 1;
                    }
                }  
            }
        }
    }
}
.form-footer {

    // .form-footer__input

    &__input {
    }

    // .form-footer__button

    &__button {
        color: $mainColor;
        align-items: center;
    }

    &__error {
        color: red;
        font-size: 0.9em;
        margin-top: toRem(5);
    }

    &__success {
        font-size: 0.9em;
        margin-top: toRem(5);
    }
}

//====================================================================================================
